:root {
    --danderColor: #f40;
}

.danger {
    color: var(--danderColor);
}

.main {
    width: 500px;
    height: 500px;
    background: url("../image/webpack.png");
    background-size: 100% 100%;
}
