.bordered {
  border-top: dotted 1px solid;
}
.redcolor {
  color: #acd;
  border-top: dotted 1px solid;
}
.redcolor .logo {
  width: 30px;
  height: 20px;
}
.redcolor .logo .in-logo {
  width: 10px;
  height: 30px;
}
.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  color: #f40;
}
